body {
  background: #f0f0f0;
}

.products-main-products {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.products-main-products__header {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin: 40px 0;
}

.products-main-products__header h1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  flex-grow: 10;
}

.products-main-products__header-room {
  display: flex;
  align-items: center;
}

.products-main-products__header-room p {
  color: #c1c1c1;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-right: 5px;
}

