* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
}

/* Фон прижат к нижней границе видимой области, масштабируется по x+y, изображение отцентрировано */
body {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100%;
}

/* Header (logo + nav) */

header {
  position: fixed;
  width: 72px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(219, 219, 219, 0.5);
}

.logo {
  position: absolute;
  top: 16px;
  left: 25px;
}

nav .header-list {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 15%;
  list-style: none;
  justify-content: ;
}

.header-list li {
  margin-bottom: 45px;
}

.header-list li:nth-last-child(1) {
  margin-top: auto;
}

.header-list li:hover {
  transform: scale(1.3);
}

/* Main start!!! */

@keyframes dropdown {
  0% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

.main-header {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 110px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  animation: dropdown 0.9s cubic-bezier(0, 0.24, 0.59, 0.99) 0s 1 normal
    forwards;
}

/* Menu-standart*/

.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  position: fixed;
  right: 25px;
  top: 25px;
  background: #fff;
  color: #0023ff;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 25px rgba(219, 219, 219, 0.5);
  cursor: pointer;
  transition: left 0.23s;
  z-index: 3;
  text-align: center;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.btn-menu img {
  margin-top: 13px;
}

.hidden-menu-wrapper {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.hidden-menu {
  display: block;
  position: absolute;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #fff;
  height: 100%;
  top: 0;
  right: -200px;
  transition: left 0.2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu-wrapper {
  width: 100%;
}
.hidden-menu-ticker:checked ~ .hidden-menu-wrapper .hidden-menu {
  right: 0;
}
