* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/* Фон прижат к нижней границе видимой области, масштабируется по x+y, изображение отцентрировано */
body {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100%;
}

/* Header (logo + nav) */

header {
  position: fixed;
  width: 72px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(219, 219, 219, 0.5);
}

.logo {
  position: absolute;
  top: 16px;
  left: 25px;
}

nav .header-list {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 15%;
  list-style: none;
  justify-content: ;
}

.header-list li {
  margin-bottom: 45px;
}

.header-list li:nth-last-child(1) {
  margin-top: auto;
}
